[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-qwordly
Exec=sailfish-qml harbour-qwordly
Name=QWordly

[X-Sailjail]
Permissions=
OrganizationName=net.veskuh
ApplicationName=QWordly
